name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  # Grupa 1: Dependency Build
  dependency-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./example-app
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install Poetry Action
      uses: snok/install-poetry@v1.3.4
      with:
        version: latest
        virtualenvs-create: true
        virtualenvs-in-project: true
    - name: Cache dependencies
      id: cached-poetry-dependencies
      uses: actions/cache@v3
      with:
        path: /home/runner/work/example-app/.venv
        key: ${{ runner.os }}-venv
    - name: Install dependencies
      run: |
        poetry install --no-root

  # Grupa 2: Static Tests
  static-tests:
    needs: dependency-build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./example-app
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Restore cache
      uses: actions/cache@v3
      with:
        path: /home/runner/work/example-app/.venv
        key: ${{ runner.os }}-venv
    - name: Lint with flake8
      run: |
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

  # Grupa 3: Unit Tests
  unit-tests:
    needs: static-tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./example-app
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Restore cache
      uses: actions/cache@v3
      with:
        path: /home/runner/work/example-app/.venv
        key: ${{ runner.os }}-venv
    - name: Test with pytest
      run: |
        pytest
